<div class="container-fluid">

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <span class="dashbord-main-heading-text">University</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <div class="inner-student-page-heading">
                <span>All Universities</span>
            </div>

        </div>

    </div>

    <div class="row mt-4">
        <div class="col-md-6">
            <h3 class="student-name">{{mainUn.university_name}}</h3>
        </div>
        <div class="col-md-6 text-right">
            <button class="edit-student-details-btn"><img src="../../../assets/img/Edit.svg" (click)="open(content2)" ></button>
        </div>
        <div class="col-md-12">
            <p class="university-details-addres-text">{{mainUn.address}} <br>{{mainUn.country_name}} {{mainUn.state_name}}</p>
        </div>
    </div>

    <div class="row mt-4 student-details-text-custom">
        <div class="col-md-12">
            <p class="university-details-bold-text">{{mainUn.country_name}}, {{mainUn.state_name}}</p>
        </div>

        <div class="col-md-3">
            <p class="university-details-bold-text">Website:</p>
        </div>
        <div class="col-md-9">
            <p>{{mainUn.website}}</p>
        </div>

        <div class="col-md-3">
            <p class="university-details-bold-text">Contact:</p>
        </div>
        <div class="col-md-9">
            <p>{{mainUn.mobile}}</p>
        </div>


    </div>

    <div class="row mt-4 mb-3">
        <div class="col-md-6">
            <h3 class="student-name">Available Forms</h3>
        </div>
    </div>

    <ul class="available-forms-ul-main">
        <li class="available-forms-icon"><img src="../../../assets/img/form.svg"></li>
        <li class="available-forms-text">Arrival Form</li>
        <li class="available-forms-btn"><button><img src="../../../assets/img/delete.svg"></button></li>
    </ul>
    <!-- <ul class="available-forms-ul-main">
        <li class="available-forms-icon"><img src="../../../assets/img/form.svg"></li>
        <li class="available-forms-text">Arrival Form</li>
        <li class="available-forms-btn"><button><img src="../../../assets/img/delete.svg"></button></li>
    </ul> -->


    <div class="row mt-4 mb-3">
        <div class="col-md-6">
            <h3 class="student-name">Subscription: <span>{{mainUn.plan_name}}</span></h3>
        </div>
    </div>


    <form id="contactForm" class="contact-form appear-animation" data-appear-animation="fadeIn"
        data-appear-animation-delay="600">

        <div class="form-row">
            <div class="col-md-7" *ngFor="let item of subUn; let i = index">

                <div class="row m-0">
                    <div class="col-lg-12">
                        <div class="checkbox select-roles-check-box">
                            <label>
                                <input type="checkbox" checked value="" class="">
                                {{item.role_name}}
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-lg-3 control-label text-lg-right pt-2">Assigned to</label>
                    <div class="col-lg-9">
                        <input class="form-control mb-3" type="text" [value]="item.university_email"
                            placeholder="example@gmail.com">
                    </div>
                </div>



            </div>

        </div>
    </form>


</div>
<!-- /.container-fluid -->



<!------- Add university Modal Start ----------->
<div class="custom-add-student-modal">
    <ng-template #content2 let-modal>
        <form id="contactForm" class="contact-form appear-animation" [formGroup]="form" (submit)="addUniversity()"
            data-appear-animation="fadeIn" data-appear-animation-delay="600">

            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Add University</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="modal.dismiss('Cross click')">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <input type="text" value="" placeholder="University Name" class="form-control" name="name"
                            id="name" formControlName="name">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <input id="phoneuniversity" type="tel" placeholder="Mobile Number" value=""
                            data-msg-required="Please enter your name." maxlength="100" class="form-control"
                            name="phone" formControlName="mobile">
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="email" value="" placeholder="Email Id" maxlength="100" class="form-control"
                            name="email" id="email" formControlName="email">
                    </div>
                </div>



                <div class="form-row mt-4">
                    <div class="form-group col-lg-12">
                        <input type="address" value="" placeholder="Address" class="form-control" name="address"
                            id="address" formControlName="address">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <select class="form-control" #country_id formControlName="country"
                            (change)="onchnage(country_id.value)">
                            <option [value]="0">Select Country</option>
                            <option *ngFor="let items of country" [value]="items.id">{{items.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6">
                        <select class="form-control" formControlName="city">
                            <option [value]="0">Select State</option>
                            <option *ngFor="let items of states" value="{{items.id }}">{{items.name}}</option>

                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <select class="form-control mb-3" formControlName="plans">
                            <option [value]="0">Select Plan</option>
                            <option *ngFor="let item of plans" value="{{item.plan_id}}">{{item.plan_name}}</option>
                        </select>
                        <input type="hidden" value="" formControlName="main_id">
                    </div>
                </div>

                <div class="form-row justify-content-center">
                    <div class="col-lg-12">
                        <p>Select Roles</p>
                    </div>

                    <div class="col-lg-10" formArrayName="universityRoles">

                        <div *ngFor=" let items of getRoles().controls ; let i=index ">
                            <div [formGroupName]="i">
                                <div class="row m-0">
                                    <div class="col-lg-12">
                                        <div class="checkbox select-roles-check-box">
                                            <label>
                                                <input type="checkbox" value="" class="" formControlName="role_active">
                                                {{roles[i]['role_name']}}
                                            </label>
                                        </div>
                                        <input type="hidden" #role_id value="" formControlName="role_id">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-3 control-label text-lg-right pt-2">Assign Role to</label>
                                    <div class="col-lg-9">
                                        <input class="form-control mb-3" value="" type="email" placeholder="Enter email ID"
                                            formControlName="role_email">
                                        <input type="hidden" name="" formControlName="sub_id">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <button type="submit" class="custom-add-student-btn">ADD UNIVERSITY</button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</div>
<!------- Add Student Modal End ----------->