<!-- Begin Page Content -->
<div class="container-fluid">


    <div class="row">

        <!-- Area Chart -->
        <div class="col-xl-9 col-lg-9">

            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <span class="dashbord-main-heading-text">User Stats</span>
            </div>

            <div class="row">

                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <img src="../../../assets/img/total-users.svg">
                                </div>

                                <div class="col ml-3">
                                    <div class="card-box-heading-text">Total Users</div>
                                    <div class="h5 mb-0 font-weight-bold text-primary">{{t_signup}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <img src="../../../assets/img/university-signups.svg">
                                </div>

                                <div class="col ml-3">
                                    <div class="card-box-heading-text">University Signups</div>
                                    <div class="h5 mb-0 font-weight-bold text-primary">{{t_un}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4 mb-4">
                    <div class="card h-100 py-2">
                        <div class="card-body">
                            <div class="row no-gutters align-items-center">
                                <div class="col-auto">
                                    <img src="../../../assets/img/student-signups.svg">
                                </div>

                                <div class="col ml-3">
                                    <div class="card-box-heading-text">Student Signups</div>
                                    <div class="h5 mb-0 font-weight-bold text-primary">{{t_student}}</div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>


            <div class="mb-4" style="width:100%;">
                <div class="chart-area">
                  <canvas id="mychart" class="fixbox" ></canvas>
                </div>
            </div>


            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <span class="dashbord-main-heading-text">Recent University Signups</span>
            </div>


            <div class="row">
                <div class="col-md-12 custom-recent-university-signups-main-bg">

                    <ul class="custom-recent-university-ul" *ngFor="let item of un_list; let i='index'" > <!--working -->

                        <li class="custom-recent-university-date">
                            <span class="university-text-normal">
                                {{item.created_at}}
                            </span>
                        </li>

                        <li class="custom-recent-university">

                            <span class="university-text-bold">
                                {{item.university_name}}
                            </span>
                            <br>
                            <span class="university-text-normal">
                                {{item.country_name}}, {{item.state_name}}
                            </span>

                        </li>

                        <li class="custom-recent-university-contact">
                            <span class="university-text-bold">Contact:</span> <span
                                class="university-text-normal">{{item.mobile}}</span>
                            <br>
                            <span class="university-text-bold">Email ID:</span> <span
                                class="university-text-normal">{{item.university_email}}</span>
                        </li>

                        <li class="custom-recent-manage">
                            <span class="university-text-bold">Roles:</span> <span
                                class="university-text-normal">{{item.roles}}</span>
                            <br>
                            <span class="university-text-normal-two">Manage</span>
                        </li>

                        <li class="custom-recent-subscription">
                            <span class="university-text-bold">Subscription:</span> <span
                                class="university-text-normal">{{item.subscription}}</span>
                            <br>
                            <span class="university-text-normal-two">Manage</span>
                        </li>

                        <li class="custom-recent-copy-icon">
                            <span><img src="../../../assets/img/copy-icon.svg" [routerLink]="['/admin/universitydetails',item.university_id]" ></span>
                        </li>

                    </ul>
 
                </div>
            </div>



        </div>

        <!-- Pie Chart -->
        <div class="col-xl-3 col-lg-3">

            <div class="form-group row">
                <label class="col-lg-2 control-label text-lg-right pt-2">
                    <img src="../../../assets/img/calender.svg">
                </label>
                <div class="col-lg-10">
                    <select class="form-control mb-3">
                        <option>Last Week</option>
                        <option>Option 2</option>
                        <option>Option 3</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-lg-2 control-label text-lg-right pt-2">
                    From
                </label>

                <div class="col-lg-10">
                    <input class="form-control" type="date" id="birthday" name="birthday">
                </div>
            </div>


            <div class="form-group row">
                <label class="col-lg-2 control-label text-lg-right pt-2">
                    To
                </label>

                <div class="col-lg-10">
                    <input class="form-control" type="date" id="birthday" name="birthday">
                </div>
            </div>


            <div class="row mt-4">

                <div class="col-md-12">
                    <span class="dashbord-main-heading-text">Student Bifercation</span>
                </div>

                <div class="col-md-12">

                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="donet" class="fixbox" ></canvas>
                        </div>
                        <div class="mt-4 small">
                            <span class="mr-2">
                                <i class="fas fa-circle text-primary"></i> General Students
                            </span>
                            <span class="mr-2">
                                <i class="fas fa-circle text-success"></i> Enrolled Sudents
                            </span>
                        </div>
                    </div>

                </div>

            </div>


            <div class="row mt-4">

                <div class="col-md-12">
                    <span class="dashbord-main-heading-text">University Subscriptions</span>
                </div>

                <div class="col-md-12">

                    <div class="card-body">
                        <div class="chart-pie pt-4 pb-2">
                            <canvas id="pie" class="fixbox" ></canvas>
                        </div>
                        <div class="mt-4 small">
                            <span class="mr-2" *ngFor="let item of plans; let i = index" >
                                <i class="fas fa-circle" [style.color]="blueshades[i]" ></i> {{item}}
                            </span>
                            
                        </div>
                    </div>

                </div>

            </div>


            <div class="row mt-4">

                <div class="col-md-12">
                    <span class="dashbord-main-heading-text">Latest Updates</span>
                </div>

                <div class="col-md-12 mt-4">
                    <div class="custom-latest-updates-box-main">

                        <div class="mb-2">
                            <span class="mr-2">
                                <i class="fas fa-circle text-custom-one"></i> New Crash Report
                            </span>
                        </div>
                        <div class="mb-2">
                            <span class="mr-2">
                                <i class="fas fa-circle text-custom-one"></i> Bugs Reported
                            </span>
                        </div>
                        <div class="mb-2">
                            <span class="mr-2">
                                <i class="fas fa-circle text-custom-one"></i> App Version Release
                            </span>
                        </div>

                    </div>
                </div>

            </div>


            <div class="row mt-4">
                <div class="col-md-12">
                    <a href="#" class="custom-download-report-btn row m-0">
                        <div class="col-md-4">
                            <img src="../../../assets/img/download-report.svg">
                        </div>

                        <div class="col-md-8">
                            <h3>
                                Download
                                <br>
                                Report
                            </h3>
                        </div>
                    </a>
                </div>
            </div>



        </div>
    </div>

</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->