<div class="container-fluid">

  <div class="row">
    <div class="col-xl-12 col-lg-12">
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <span class="dashbord-main-heading-text">Student</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <div class="inner-student-page-heading">
        <span>Student Signups</span>
      </div>

    </div>

    <div class="col-lg-12 mt-4 pt-3">
      <ul class="table-search-filter-custom-style">
        <li class="search-icon-custom">
          <button><img src="../../../assets/img/search.svg"></button>
        </li>
        <li class="search-box-custom">
          <input type="text" id="search" placeholder="Search" name="search" required>
        </li>
        <li class="search-plus-btn-custom">
          <button (click)="open(content)"><img src="../../../assets/img/plus.svg"></button>
        </li>
        <li class="search-import-btn-custom">
          <button><img src="../../../assets/img/import.svg"> IMPORT</button>
        </li>
        <li class="search-export-btn-custom">
          <button><img src="../../../assets/img/export.svg"> EXPORT</button>
        </li>
      </ul>
    </div>

    <div class="col-lg-12 pt-3">

      <table class="table">
        <tbody class="custom-student-table-main">

          <tr class="table-filter-main-class">
            <td class="table-box-checkbox">
              <div class="checkbox">
                <input type="checkbox" value="">
              </div>
            </td>
            <td class="table-box-text-one-filter">
              Showing 37 of 37 entries
            </td>
            <td class="table-box-controls">
              <button><img src="../../../assets/img/controls.svg" width="32px"></button>
            </td>
            <td class="table-box-filter">
              <button><img src="../../../assets/img/filter.svg" width="32px"></button>
            </td>
          </tr>

          <tr *ngFor="let item of formlist let i=index">
            <td class="table-box-checkbox-text">
              <div class="checkbox">
                <input type="checkbox" value="">
              </div>
            </td>

            <td class="table-box-text-one">
              <span class="table-bold">{{item.student_name }}</span>
              <br>
              <span class="table-text-normal">Biochemistry (Bachelor)</span>
              <br>
              <span class="table-text-normal">University of Toronto</span>
            </td>

            <td class="table-box-text-two">
              <span class="table-bold">Contact:</span> <span class="table-text-normal">{{item.contact }}</span>
              <br>
              <span class="table-bold">Email ID:</span> <span class="table-text-normal">{{item.s_email}}</span>
            </td>

            <td class="table-box-text-three">
              <span class="table-bold">Address:</span>
              <br>
              <span class="table-text-normal"> {{item.Address}}</span>
            </td>

            <td class="table-box-status-text" *ngIf="item.form_status == 'Pending' " >
              <span class="table-status-pending">
                Form {{item.form_status}}
              </span>
            </td>

            <td class="table-box-status-text" *ngIf="item.form_status == 'Complete' " >
              <span class="table-status-complete">
                Form Complete
              </span>
            </td>

            <td class="table-box-status-text"  *ngIf="item.form_status != 'Pending' && item.form_status != 'Complete'  " >
              <span class="table-status-na">
                NA
              </span>
            </td>
            

            <td class="table-box-delete-btn">
              <button><img src="../../../assets/img/delete.svg"></button>
            </td>

            <td class="table-box-copy-btn">
              <button><img src="../../../assets/img/copy-icon.svg" [routerLink]='["/admin/studentdetails",item.student_id]' ></button>
            </td>
          </tr>
<!-- 
          <tr>
            <td class="table-box-checkbox-text">
              <div class="checkbox">
                <input type="checkbox" value="">
              </div>
            </td>

            <td class="table-box-text-one">
              <span class="table-bold">Michael Jameson</span>
              <br>
              <span class="table-text-normal">Biochemistry (Bachelor)</span>
              <br>
              <span class="table-text-normal">University of Toronto</span>
            </td>

            <td class="table-box-text-two">
              <span class="table-bold">Contact:</span> <span class="table-text-normal">+011 5643 7901</span>
              <br>
              <span class="table-bold">Email ID:</span> <span class="table-text-normal">michaeljameson@ymail.com</span>
            </td>

            <td class="table-box-text-three">
              <span class="table-bold">Address:</span>
              <br>
              <span class="table-text-normal">2972 Westheimer Rd. Santa Ana, Illinois 85486 </span>
            </td>

            <td class="table-box-status-text">
              <span class="table-status-complete">
                Form Complete
              </span>
            </td>

            <td class="table-box-delete-btn">
              <button><img src="../../../assets/img/delete.svg"></button>
            </td>

            <td class="table-box-copy-btn">
              <button><img src="../../../assets/img/copy-icon.svg"></button>
            </td>
          </tr>

          <tr>
            <td class="table-box-checkbox-text">
              <div class="checkbox">
                <input type="checkbox" value="">
              </div>
            </td>

            <td class="table-box-text-one">
              <span class="table-bold">Michael Jameson</span>
              <br>
              <span class="table-text-normal">Biochemistry (Bachelor)</span>
              <br>
              <span class="table-text-normal">University of Toronto</span>
            </td>

            <td class="table-box-text-two">
              <span class="table-bold">Contact:</span> <span class="table-text-normal">+011 5643 7901</span>
              <br>
              <span class="table-bold">Email ID:</span> <span class="table-text-normal">michaeljameson@ymail.com</span>
            </td>

            <td class="table-box-text-three">
              <span class="table-bold">Address:</span>
              <br>
              <span class="table-text-normal">2972 Westheimer Rd. Santa Ana, Illinois 85486 </span>
            </td>

            <td class="table-box-status-text">
              <span class="table-status-na">
                NA
              </span>
            </td>

            <td class="table-box-delete-btn">
              <button><img src="../../../assets/img/delete.svg"></button>
            </td>

            <td class="table-box-copy-btn">
              <button><img src="../../../assets/img/copy-icon.svg"></button>
            </td>
          </tr>
  -->

        </tbody>
      </table>

    </div>



  </div>

</div>
<!-- /.container-fluid -->




<!------- Modal Start ----------->
<div class="custom-add-student-modal">
  <ng-template #content let-modal>
    <form [formGroup]='form' (submit)="onSaveStudent()" class="contact-form appear-animation"
      data-appear-animation="fadeIn" data-appear-animation-delay="600">

      <div class="modal-header">
        <h4 class="modal-title" id="defaultModalLabel">Add Student</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          (click)="modal.dismiss('Cross click')">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="form-group col-lg-6">
            <input type="text" value="" placeholder="First Name" class="form-control" name="name" id="name"
              formControlName="first_name">
          </div>
          <div class="form-group col-lg-6">
            <input type="text" value="" placeholder="Last Name" class="form-control" name="name" id="name"
              formControlName="last_name">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6">
            <input id="phone" type="tel" placeholder="Mobile Number" value=""
              data-msg-required="Please enter your name." maxlength="100" class="form-control" name="phone"
              formControlName="mobile">
          </div>
          <div class="form-group col-lg-6">
            <input type="email" value="" placeholder="Email Id" maxlength="100" class="form-control" name="email"
              id="email" formControlName="email">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6">
            <input type="date" value="" placeholder="Date Of Birth" class="form-control" name="date" id="date"
              formControlName="dob">
          </div>
        </div>

        <div class="form-row mt-4">
          <div class="form-group col-lg-12">
            <input type="address" value="" placeholder="Address" class="form-control" name="address" id="address"
              formControlName="address">
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-6">
            <select class="form-control" #country_id formControlName="country" (change)="onchnage(country_id.value)" >
              <option  [ngValue]="null"  >Country</option>
              <option *ngFor="let item of country" [value]="item.id" >{{item.name}}</option>
              
            </select>
          </div>
          <div class="form-group col-lg-6">
            <select class="form-control" formControlName="city">
              <option  [ngValue]="null"  >City</option>
              <option  *ngFor="let item of states" [value]="item.id"  >{{item.name}}</option>
             
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-lg-12">
            <select class="form-control mb-3" formControlName="university">
              <option  [ngValue]="null"  >Select University</option>
              <option *ngFor="let item of university" [value]="item.university_id" >{{item.university_name}}</option>
             
            </select>
          </div>
        </div>



      </div>
      <div class="modal-footer">
        <div class="row justify-content-center">
          <div class="col-md-4">
            <button type="submit" class="custom-add-student-btn">ADD STUDENT</button>
          </div>
        </div>

      </div>
    </form>
  </ng-template>
</div>

<!------- Modal End ----------->