<div class="container-fluid">

    <div class="row">
        <div class="col-xl-12 col-lg-12">
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <span class="dashbord-main-heading-text">University</span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">



            <div class="inner-student-page-heading tab">
                <button class="tablinks active" onclick="openCity(event, 'All_Universities')">All Universities</button>
                <button class="tablinks" onclick="openCity(event, 'Plans')">Plans</button>
                <button class="tablinks" onclick="openCity(event, 'Roles')">Roles</button>

            </div>


            <div id="All_Universities" class="tabcontent">
                <div class="row">
                    <div class="col-lg-12 mt-4 pt-3">
                        <ul class="table-search-filter-custom-style">
                            <li class="search-icon-custom">
                                <button><img src="../../../assets/img/search.svg"></button>
                            </li>
                            <li class="search-box-custom">
                                <input type="text" id="search" placeholder="Search" name="search" required>
                            </li>
                            <li class="search-plus-btn-custom">
                                <button (click)="open(content2)"><img src="../../../assets/img/plus.svg"></button>
                            </li>
                            <li class="search-import-btn-custom">
                                <button><img src="../../../assets/../../../assets/img/import.svg"> IMPORT</button>
                            </li>
                            <li class="search-export-btn-custom">
                                <button><img src="../../../assets/img/export.svg"> EXPORT</button>
                            </li>
                        </ul>
                    </div>

                    <div class="col-lg-12 pt-3">

                        <table class="table">
                            <tbody class="custom-student-table-main">

                                <tr class="table-filter-main-class">
                                    <td class="table-box-checkbox">
                                        <div class="checkbox">
                                            <input type="checkbox" value="">
                                        </div>
                                    </td>
                                    <td class="table-box-text-one-filter">
                                        Showing 16 of 16 entries
                                    </td>
                                    <td class="table-box-controls">
                                        <button><img src="../../../assets/img/controls.svg" width="32px"></button>
                                    </td>
                                    <td class="table-box-filter">
                                        <button><img src="../../../assets/img/filter.svg" width="32px"></button>
                                    </td>
                                </tr>

                                <tr *ngFor="let item of list let i=index">
                                    <td class="table-box-checkbox-text">
                                        <div class="checkbox">
                                            <input type="checkbox" value="">
                                        </div>
                                    </td>

                                    <td class="table-box-text-one">
                                        <span class="table-bold">{{item.university_name}}</span>
                                        <br>
                                        <span class="table-text-normal">Biochemistry (Bachelor)</span>
                                        <br>
                                        <span class="table-text-normal">University of Toronto</span>
                                    </td>

                                    <td class="table-box-text-two">
                                        <span class="table-bold">Contact:</span> <span class="table-text-normal">+011
                                            5643 7901</span>
                                        <br>
                                        <span class="table-bold">Email ID:</span> <span
                                            class="table-text-normal">{{item.university_email}}</span>
                                    </td>

                                    <td class="table-box-text-three">
                                        <span class="table-bold">Address:</span>
                                        <br>
                                        <span class="table-text-normal">2972 Westheimer Rd. Santa Ana, Illinois 85486
                                        </span>
                                    </td>

                                    <td class="table-box-roles-text">
                                        <span class="table-bold">Roles:</span> <span class="table-text-normal">3</span>
                                    </td>

                                    <td class="table-box-delete-btn">
                                        <button><img src="../../../assets/img/delete.svg" (click)="deleteUniversity(item.university_id)" ></button>
                                    </td>

                                    <td class="table-box-copy-btn">
                                        <button><img src="../../../assets/img/Edit.svg"
                                                [routerLink]="['/admin/universitydetails',item.university_id]"></button>
                                    </td>
                                </tr>



                            </tbody>
                        </table>

                    </div>
                </div>
            </div>



            <div id="Plans" class="tabcontent mt-4">
                <div class="row">

                    <div class="col-md-3" *ngFor="let item of plans; index as i">
                        <div class="plans-account-totail-main">
                            <div class="plans-account-totail-counting">
                                12 ACCOUNTS
                            </div>

                            <div class="plans-account-totail-icon">
                                <ul class="plans-account-totail-icon-ul">
                                    <li class="plans-account-totail-img-one">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-two">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-text">
                                        A
                                    </li>
                                </ul>
                            </div>

                            <div class="plans-account-totail-text-one">
                                PLAN {{i+1}}
                            </div>
                            <div class="row mt-3 plans-account-totail-edit">
                                <div class="col-md-8">
                                    <p>{{item.plan_name}}</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button type="button"  (click)="editPlan(item.plan_id, content3)"  ><img src="../../../assets/img/Edit-1.svg"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                    <div class="col-md-3">
                        <div class="plans-account-totail-main">
                            <div class="plans-account-totail-counting">
                                30 ACCOUNTS
                            </div>

                            <div class="plans-account-totail-icon">
                                <ul class="plans-account-totail-icon-ul">
                                    <li class="plans-account-totail-img-one">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-two">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-text">
                                        A
                                    </li>
                                </ul>
                            </div>

                            <div class="plans-account-totail-text-one">
                                PLAN 2
                            </div>
                            <div class="row mt-3 plans-account-totail-edit">
                                <div class="col-md-8">
                                    <p>Name of Plan</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button><img src="../../../assets/img/Edit-1.svg"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="plans-account-totail-main">
                            <div class="plans-account-totail-counting">
                                17 ACCOUNTS
                            </div>

                            <div class="plans-account-totail-icon">
                                <ul class="plans-account-totail-icon-ul">
                                    <li class="plans-account-totail-img-one">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-two">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-text">
                                        A
                                    </li>
                                </ul>
                            </div>

                            <div class="plans-account-totail-text-one">
                                PLAN 3
                            </div>
                            <div class="row mt-3 plans-account-totail-edit">
                                <div class="col-md-8">
                                    <p>Name of Plan</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button><img src="../../../assets/img/Edit-1.svg"></button>
                                </div>
                            </div>
                        </div>
                    </div> -->


                    <div class="col-md-3 create-new-plan-btn-center">
                        <button class="create-new-plan-btn-custom" (click)="createPlan(content3)">
                            <img src="../../../assets/img/plus.svg">
                            <br>
                            CREATE <br>NEW PLAN
                        </button>
                    </div>


                </div>
            </div>



            <div id="Roles" class="tabcontent mt-4">
                <div class="row">

                    <div class="col-md-3" *ngFor="let item of roles">
                        <div class="plans-account-totail-main">
                            <div class="plans-account-totail-counting">
                                112 ACCOUNTS
                            </div>

                            <div class="plans-account-totail-icon">
                                <ul class="plans-account-totail-icon-ul">
                                    <li class="plans-account-totail-img-one">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-two">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-text">
                                        A
                                    </li>
                                </ul>
                            </div>

                            <div class="plans-account-totail-text-one">
                                ROLE 1
                            </div>
                            <div class="row mt-3 plans-account-totail-edit">
                                <div class="col-md-8">
                                    <p>{{item.role_name}}</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button type="button" (click)="editRole(item.role_id, content)" ><img src="../../../assets/img/Edit-1.svg"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 
                    <div class="col-md-3">
                        <div class="plans-account-totail-main">
                            <div class="plans-account-totail-counting">
                                50 ACCOUNTS
                            </div>

                            <div class="plans-account-totail-icon">
                                <ul class="plans-account-totail-icon-ul">
                                    <li class="plans-account-totail-img-one">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-two">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-text">
                                        A
                                    </li>
                                </ul>
                            </div>

                            <div class="plans-account-totail-text-one">
                                ROLE 2
                            </div>
                            <div class="row mt-3 plans-account-totail-edit">
                                <div class="col-md-8">
                                    <p>Name of Role</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button><img src="../../../assets/img/Edit-1.svg"></button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="plans-account-totail-main">
                            <div class="plans-account-totail-counting">
                                172 ACCOUNTS
                            </div>

                            <div class="plans-account-totail-icon">
                                <ul class="plans-account-totail-icon-ul">
                                    <li class="plans-account-totail-img-one">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-two">
                                        <img src="../../../assets/img/tree-736885.jpeg">
                                    </li>
                                    <li class="plans-account-totail-img-text">
                                        A
                                    </li>
                                </ul>
                            </div>

                            <div class="plans-account-totail-text-one">
                                ROLE 3
                            </div>
                            <div class="row mt-3 plans-account-totail-edit">
                                <div class="col-md-8">
                                    <p>Name of Role</p>
                                </div>
                                <div class="col-md-4 text-right">
                                    <button><img src="../../../assets/img/Edit-1.svg"></button>
                                </div>
                            </div>
                        </div>
                    </div>
 -->

                    <div class="col-md-3 create-new-plan-btn-center">
                        <button class="create-new-plan-btn-custom" (click)="open(content)">
                            <img src="../../../assets/img/plus.svg">
                            <br>
                            CREATE <br>NEW ROLE
                        </button>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>
<!-- /.container-fluid -->




<!------- CREATE NEW PLAN Modal Start ----------->
<div class="custom-add-student-modal">
    <ng-template #content let-modal>
        <form id="contactForm" class="contact-form appear-animation" [formGroup]="rolesform" (submit)="addRole()"  method="POST"
            data-appear-animation="fadeIn" data-appear-animation-delay="600">
            <div class="modal-header close-create-plan-header">
                <h4 class="modal-title" id="defaultModalLabel"> NEW ROLE </h4>
                <input type="text" value="" placeholder="Plan Name" class="form-control" name="name" id="name" formControlName="name">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="deleteRole(plan_id)"><img src="../../../assets/img/delete.svg"></button>
            </div>
            <div class="modal-body">
                <div ngClass="row">
                    <div class="col-md-2">
                        <mat-checkbox>Student Add</mat-checkbox>
                    </div>
                    <div class="col-md-2">
                        <mat-checkbox>Student Delete</mat-checkbox>
                    </div>
                    <div class="col-md-2">
                        <mat-checkbox>Student Edit</mat-checkbox>
                    </div>
                     
                </div>

            </div>
            <div class="modal-footer">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <button type="submit" class="custom-add-student-btn">APPLY CHANGES</button>
                    </div>
                </div>

            </div>
        </form>
    </ng-template>
</div>
<!------- CREATE NEW PLAN Modal End ----------->

<!------- CREATE NEW ROLE Modal Start ----------->
<div class="custom-add-student-modal">
    <ng-template #content3 let-modal>


        <form id="contactForm" [formGroup]="roleform" (submit)="addPlan()" class="contact-form appear-animation"
            method="POST" data-appear-animation="fadeIn" data-appear-animation-delay="600">

            <div class="modal-header close-create-plan-header">
                <h4 class="modal-title" id="defaultModalLabel">NEW PLAN</h4>
                <input type="text" value="" placeholder="Plan Name" class="form-control" name="name" id="name"
                    formControlName="plan_name">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="deletePlan(plan_id)"><img src="../../../assets/img/delete.svg"></button>
            </div>
            <div class="modal-body">

                <mat-accordion>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-checkbox formControlName="un_profile"  > University Profile</mat-checkbox>
                            </mat-panel-title>
                        </mat-expansion-panel-header>

                        <div class="col-lg-11 create-plan-list-checkbox mt-3">

                            <ul>
                                <li>
                                    <p>Overview</p>
                                    <input type="checkbox" value="" class=""  formControlName="un_pro_overview">
                                </li>
                                <li>
                                    <p>Courses</p>
                                    <input type="checkbox" value="" class="" formControlName="un_pro_course">
                                </li>
                                <li>
                                    <p>Contact University</p>
                                    <input type="checkbox" value="" class="" formControlName="un_pro_contactun">
                                </li>
                                <li>
                                    <p>FAQ</p>
                                    <input type="checkbox" value="" class="" formControlName="un_pro_faq">
                                </li>
                                <li>
                                    <p>Apply</p>
                                    <input type="checkbox" value="" class="" formControlName="un_pro_apply">
                                </li>
                            </ul>


                        </div>

                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-checkbox formControlName="un_updates">University Updates</mat-checkbox>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="col-lg-11 create-plan-list-checkbox mt-3">

                            <ul>
                                <li>
                                    <p>Service Update</p>
                                    <input type="checkbox" value="" class="" formControlName="un_up_service">
                                </li>
                                <li>
                                    <p>Health And Safety</p>
                                    <input type="checkbox" value="" class="" formControlName="un_up_health">
                                </li>
                                <li>
                                    <p>Latest News</p>
                                    <input type="checkbox" value="" class="" formControlName="un_up_news">
                                </li>
                                <li>
                                    <p>Student Life</p>
                                    <input type="checkbox" value="" class="" formControlName="un_up_life">
                                </li>
                            </ul>


                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-checkbox formControlName="arrival_form">Arrival Form</mat-checkbox>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div class="col-lg-11 create-plan-list-checkbox mt-3">

                            <ul>
                                <li>
                                    <p>Terms and Conditon</p>
                                    <input type="checkbox" value=""  class="" formControlName="fm_terms">
                                </li>
                                <li>
                                    <p>First Name</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_first_name">
                                </li>
                                <li>
                                    <p>Last Name</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_last_name">
                                </li>
                                <li>
                                    <p>Email</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_email">
                                </li>
                                <li>
                                    <p>Mobile Number</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_mobile">
                                </li>
                                <li>
                                    <p>Gender</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_gender">
                                </li>
                                <li>
                                    <p>Date of Birth</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_dob">
                                </li>
                                <li>
                                    <p>Permanent Address</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_per_add">
                                </li>
                                <li>
                                    <p>State</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_per_state">
                                </li>
                                <li>
                                    <p>City</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_per_city">
                                </li>
                                <li>
                                    <p>Post Code</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_per_postcode">
                                </li>
                                <li>
                                    <p>Current Address</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_cur_add">
                                </li>
                                <li>
                                    <p>State</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_cur_state">
                                </li>
                                <li>
                                    <p>City</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_cur_city">
                                </li>
                                <li>
                                    <p>Post Code</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_cur_postcode">
                                </li>
                                <li>
                                    <p>University Campus Address</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_campus">
                                </li>
                                <li>
                                    <p>Program Applied To</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_progappliedto">
                                </li>
                                <li>
                                    <p>Program Intake</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_intake">
                                </li>
                                <li>
                                    <p>Student Number</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_studentno">
                                </li>
                                <li>
                                    <p>Visa Issuance Date</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_visa_issudate">
                                </li>
                                <li>
                                    <p>Travel To Diff Country</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_traveltodiffcounty">
                                </li>
                                <li>
                                    <p>Travel By Self</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_travelbyself">
                                </li>
                                <li>
                                    <p>Accompanied by Family Member</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_acc_byfamily">
                                </li>
                                <li>
                                    <p>Number Of Member</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_familyno">
                                </li>
                                <li>
                                    <p>Disability</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_specialaccomo">
                                </li>
                                <li>
                                    <p>Arrival Country</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_arri_country">
                                </li>
                                <li>
                                    <p>Arrival City</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_arri_city">
                                </li>
                                <li>
                                    <p>Hotal Name</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_hotal_name">
                                </li>
                                <li>
                                    <p>Room Number</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_hotal_roomno">
                                </li>
                                <li>
                                    <p>Hotal Address</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_hotal_address">
                                </li>
                                <li>
                                    <p>City of University</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_city_of_un">
                                </li>
                                <li>
                                    <p>Transport Mode</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_finaltransportmode">
                                </li>
                                <li>
                                    <p>Transport Number</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_transportno">
                                </li>
                                <li>
                                    <p>Arrival Date</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_arri_date">
                                </li>
                                <li>
                                    <p>Arrival Time</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_arri_time">
                                </li>
                                <li>
                                    <p>Addtional Information</p>
                                    <input type="checkbox" value="" class="" formControlName="fm_addtionalinfo">
                                </li>
                            </ul>


                        </div>
                    </mat-expansion-panel>

                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-checkbox formControlName="chat">Chat</mat-checkbox>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>


                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-checkbox formControlName="contact_support"> Contact Support</mat-checkbox>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>


                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <mat-checkbox formControlName="send_alert"> Send Alert</mat-checkbox>
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                    </mat-expansion-panel>
                </mat-accordion>



            </div>
            <div class="modal-footer">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <button type="submit" class="custom-add-student-btn">APPLY CHANGES</button>
                    </div>
                </div>

            </div>
        </form>

    </ng-template>
</div>
<!------- CREATE NEW ROLE Modal End ----------->


<!------- Add university Modal Start ----------->
<div class="custom-add-student-modal">
    <ng-template #content2 let-modal>
        <form id="contactForm" class="contact-form appear-animation" [formGroup]="form" (submit)="addUniversity()"
            data-appear-animation="fadeIn" data-appear-animation-delay="600">

            <div class="modal-header">
                <h4 class="modal-title" id="defaultModalLabel">Add University</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                    (click)="modal.dismiss('Cross click')">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <input type="text" value="" placeholder="University Name" class="form-control" name="name"
                            id="name" formControlName="name">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <input id="phoneuniversity" type="tel" placeholder="Mobile Number" value=""
                            data-msg-required="Please enter your name." maxlength="100" class="form-control"
                            name="phone" formControlName="mobile">
                    </div>
                    <div class="form-group col-lg-6">
                        <input type="email" value="" placeholder="Email Id" maxlength="100" class="form-control"
                            name="email" id="email" formControlName="email">
                    </div>
                </div>



                <div class="form-row mt-4">
                    <div class="form-group col-lg-12">
                        <input type="address" value="" placeholder="Address" class="form-control" name="address"
                            id="address" formControlName="address">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-6">
                        <select class="form-control" #country_id formControlName="country"
                            (change)="onchnage(country_id.value)">
                            <option [ngValue]="null">Select Country</option>
                            <option *ngFor="let items of country" [value]="items.id">{{items.name}}</option>
                        </select>
                    </div>
                    <div class="form-group col-lg-6">
                        <select class="form-control" formControlName="city">
                            <option [ngValue]="null">Select State</option>
                            <option *ngFor="let items of states" value="{{items.id }}">{{items.name}}</option>

                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-lg-12">
                        <select class="form-control mb-3" formControlName="plans">
                            <option [ngValue]="null">Select Plan</option>
                            <option *ngFor="let item of plans" value="{{item.plan_id}}" >{{item.plan_name}}</option> 
                        </select>
                    </div>
                </div>

                <div class="form-row justify-content-center" >
                    <div class="col-lg-12">
                        <p>Select Roles</p>
                    </div>

                    <div class="col-lg-10" formArrayName="universityRoles" >

                        <div  *ngFor=" let items of getRoles().controls ; let i=index " >
                            <div [formGroupName]="i" >
                        <div class="row m-0">
                            <div class="col-lg-12">
                                <div class="checkbox select-roles-check-box">
                                    <label>
                                        <input type="checkbox" value="" class="" formControlName="role_active" > 
                                        {{roles[i]['role_name']}}
                                    </label>
                                </div>
                                <input type="hidden" value="" formControlName="role_id">
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-lg-3 control-label text-lg-right pt-2">Assign Role to</label>
                            <div class="col-lg-9">
                                <input class="form-control mb-3" type="email" placeholder="Enter email ID" formControlName="role_email" >
                            </div>
                        </div>
                        </div>
                    </div>
                         
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <button type="submit" class="custom-add-student-btn">ADD UNIVERSITY</button>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>
</div>
<!------- Add Student Modal End ----------->